<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlinr.mybatis.dao.LibrarianMapper">
    <resultMap type="com.kunlinr.mybatis.entity.Librarian" id="LibrarianMap">
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getById" resultMap="LibrarianMap">
        select *
        from t_librarian 
        where 1=1
            and id = #{id}
    </select>
    <select id="getAll" parameterType="INTEGER" resultMap="LibrarianMap">
        select *
        from t_librarian
    </select>
    <select id="getByIdAndName" resultMap="LibrarianMap">
        select *
        from t_librarian
        where 1=1
            and id = #{id} and user_name = #{name}
    </select>
</mapper>